@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

Canvas {
  /* made the width 110 instead of 100 to get rid of bottom blank white space  */
  width: 110%;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

.item1 {
  flex: 1 0 80%;
  /* Take up 80% of the width */
  background-color: lightblue;
  margin: 0;
  padding: 0;
}

@media (max-width: 600px) {

  .item1,
  .item2 {
    flex-basis: 100%;
    /* Take up 100% width when screen size is small */
  }
}

/* App.jsx fades in from black */
@keyframes custom-fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

.custom-fade-in {
  animation-name: custom-fade-in;
  animation-duration: 2s;
}

/* Makes the Splash --> Homepage transition less jarring */
body {
  transition: background-color 1.6s ease;
}