@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#root {
  width: 100%;
}

.home-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: black;
}
/* when you refresh the screen it'll be black and not a white flashbang */


* {
  margin: 0;
  padding: 0;
}

.item1 {
  flex: 1 0 100%;
  /* background-color: lightblue; */
  margin: 0;
  padding: 0;
}

.desktop-sidebox {
  height: 94vh;
  margin-top: 3vh;
  margin-bottom: 3vh;
  margin-left: 3vh;
  margin-right: 3vh;
  overflow-x: hidden;
  overflow-y: auto;
}


@media (max-width: 600px) {

  .item1,
  .item2 {
    flex-basis: 100%;
    /* Take up 100% width when screen size is small */
  }
}

/* App.jsx fades in from black */
@keyframes custom-fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

.custom-fade-in {
  animation-name: custom-fade-in;
  animation-duration: 3s;
}

.home-container.custom-fade-in {
  visibility: visible;
  opacity: 1;
}