#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

Canvas {
  width: 100%;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  /* Allow items to wrap to the next line */
}

.item1 {
  flex: 1 0 80%;
  /* Take up 80% of the width */
  background-color: lightblue;
  margin: 0;
  padding: 0;
}

.item2 {
  flex: 1 0 20%;
  /* Take up 20% of the width */
  background-color: lightgreen;
  margin: 0;
  padding: 0;
  position: sticky;
}

@media (max-width: 600px) {

  .item1,
  .item2 {
    flex-basis: 100%;
    /* Take up 100% width when screen size is small */
  }
}