/* shopping.css */

/* Import Roboto font family */
body {
  font-family: 'Roboto', sans-serif;
}

.shopping-page {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  width: 100%;
  height: 100%;
}

.products {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  max-width: 300px;
  text-align: left;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-card img {
  max-width: 100%;
  border-radius: 8px;
}

.product-card h2 {
  font-size: 1.5em;
  margin: 10px 0;
}

.product-card p {
  font-size: 1em;
  color: #333;
}

.product-card .price {
  font-weight: bold;
  margin: 10px 0;
}

.buy-button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.buy-button:hover {
  background-color: #0056b3;
}

.back-button {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #6c757d;
  color: #fff;
  border: none;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #5a6268;
}
